
  .buttonLoad{
   
    cursor: pointer;
     background: none;
      border: none;
      border: 2px solid #626262;
      color:#323232;
      font-weight: 600;
      height: 40px;
      width: auto;
    user-select: none;
    outline: none;
      padding: 10px 20px;
      border-radius: 25px;
      user-select: none;
      outline: none;
      transition: all ease-in 0.4s;
      text-align: center;
    
      }
  #loading{
   
      background-color: transparent;
      border: 4px solid #6d6c6e;
      border-top-color: #676767;
      user-select: none;
       font-size: 0;
      outline: none;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      animation: rotate 0.8s linear infinite;
    }
  
  