ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(49, 1, 64);
    justify-content: space-between;
    position: sticky;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    

  }
  
  li a:hover {
    background-color: rgb(83, 2, 140);
    color: rgb(91, 74, 248);
  }
 
 
  .logo{
    text-decoration: none;
    color: white;
    width: 85px;
    margin: 15px;
    height: 25px;
    float: left;
  }